* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Lato";
	src: url($lib/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: "IBM_Plex_Sans";
	src: url($lib/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

:root {
	--font-body: "IBM_Plex_Sans";
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #DBE4D7;
	color: #1C2226;
}

input, textarea {
	font-family: "IBM_Plex_Sans";
}

a {
	text-decoration: none;
	color: #4C4239;
	fill: #4C4239;
	transition: color 0.2s linear, fill 0.2s linear;
	font-size: 1.5rem;
}

a:hover {
	color: #CB6D44;
	fill: #CB6D44;
}

h1, h2, h3, h4 {
	font-family: "Lato";
}

img {
	width: 100%;
}

svg {
	width: 100%;
	overflow: visible;
}

p {
	font-size: 1.5rem;
	margin: 0;
}

h1 {
	font-size: 3rem;
	line-height: 1.5;
	color: #1C2226;
	font-weight: 600;
	margin: 0; 
	padding: 1rem 0;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.35;
	color: #1C2226;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: 2rem;
	line-height: 1.2;
	color: #4C4239;
	font-weight: 600;
	margin: 0;
}

h4 {
	font-size: 1.5rem;
	line-height: 1;
	color: #303533;
	font-weight: 600;
	margin: 0;
}

h5 {
	font-size: 1.25rem;
	line-height: 1;
	color: #303533;
	font-weight: 600;
	margin: 0 0 1rem 0;
}

input[type="search"] {
	-webkit-appearance: none;
	appearance: none;
}

@media (max-width: 1440px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}
	
	h3 {
		font-size: 1.5rem;
	}
	
	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.25rem;
		margin: 0 0 0.5rem 0;
	}

	p {
		font-size: 1.25rem;
		margin: 0;
	}

	a {
		font-size: 1.3rem;
	}
}

@media (max-width: 720px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}
	
	h3 {
		font-size: 1.25rem;
	}
	
	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.9rem;
	}

	p {
		font-size: 1rem;
		margin: 0;
	}

	a {
		font-size: 1rem;
	}
}